body {
  background-image: url(https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg);
  color: #f5f6f7;
  font-size: 18px;
  font-family: sans;
}

#form {
  width: 80%;
  background-color: #34345c;
  margin: 0 auto;
  padding: 1em 1em;
  max-width: 500px;
}

#title {
  font-family: 'Arial Black', Roboto, sans-serif;
  text-align: center;
}

#description {
  text-align: center;
  font-style: italic;
}

fieldset {
  border: none;
  margin: 0;
  border-bottom: 3px solid #a7a7af;
}

input,
textarea,
select {
  margin-top: 10px;
  width: 100%;
  min-height: 2em;
}

label {
  display: block;
  margin: 15px auto;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

fieldset:last-of-type {
  border: none;
}

legend {
  padding-top: 10px;
}

#submit {
  display: block;
  width: 75%;
  margin: 1em auto;
  height: 2em;
  font-size: 18px;
  background-color: #4b4b96c9;
  border-color: white;
  min-width: 300px;
  color: white;
}
